<nav class="navbar navbar-transparent navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Graffiti Maps</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation-example">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/map"
             routerLinkActive="active">
            Map
          </a>
        </li>
        <li>
          <a routerLink="/stream"
             routerLinkActive="active">
            Stream
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ displayName() }}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/profile">Profile</a></li>
            <li class="divider"></li>
            <li><a href="#">Notifications</a></li>
            <li class="divider"></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!isLoggedIn">
        <li>
          <a routerLink="/about"
             routerLinkActive="active">
            About
          </a>
        </li>
        <li>
          <a routerLink="/signup"
             routerLinkActive="active">
            <i class="material-icons">unarchive</i> Get in
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
